{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":2,"column":0},"end":{"row":2,"column":10},"action":"remove","lines":[".gitignore"],"id":2},{"start":{"row":1,"column":12},"end":{"row":2,"column":0},"action":"remove","lines":["",""]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":1,"column":12},"end":{"row":1,"column":12},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1565204902650,"hash":"c126995b060dc3d7bd3a7bfb3f4846e165cbc472"}