/* base.html */

body {
  text-align: center;
  color: #FDFDFF;
  padding: 0 !important;
  margin-top: 50px;
  font-family: 'Sniglet', 'Comfortaa', cursive;
}

.navbar,
.modal-header {
  padding: 8px;
  background-color: #2ecc71;

}

#logo {
  max-height: 40px;
}

.nav-item{
  border-bottom: 3px solid #FDFDFF;
  background-image: linear-gradient(to right, #FDFDFF, #fed300);
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all .3s ease-in-out;

}

.navbar-toggler {
  top: 55px;
  right: 14px;
  position: absolute;
  padding: 2px;

}

.nav-item:hover {
  background-size: 100% 5px, auto;
}

a,
a:hover {
  text-decoration: none;
  color: #FDFDFF;
}

.nav-link,
.card-header{
  padding: 8px 25px !important;
  color: #FDFDFF !important;

}

.speech-bubble {
  position: fixed;
  bottom: 6em;
  right: 0.5em;
  background-color: #2ECC71;
  border-radius: .4em;
  box-shadow: -5px -5px 5px grey;
  width: 150px;
  height: 78px;
  padding-top: 18px;
  padding-left: 0px;
  z-index: 1000;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 24px solid transparent;
  border-top-color: #2ECC71;
  border-bottom: 0;
  border-right: 0;
  margin-left: -12px;
  margin-bottom: -24px;
}

.username {
  padding: 0;
}

#footer-background {
  background-color: #2ecc71;
  margin: 0;
  padding-top: 12px;
}

p {
  margin-bottom: 0px;
  padding-left: 20px;
}


/* Our Favourites, Most Liked & Recipe List Page */
.card-img-top{
  max-height:142px;
}

.card {
  background-color: #2ecc71;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, .5);

}

.card-body {
  min-height: 96px;
  background-color: #FCFCFC;
  color: black;
  padding:16px 5px;

}

.card-text {
  color: black;
}

.card-footer {
  width: 100%;
  display: block;
}

label{
  margin-bottom:0;
  margin-left:3px;
  padding: 5px 14px 5px 14px;
  background-color:#2ecc71;
  border-radius:10px 10px 0px 0px;
  color:white;
}

/* home.html*/

#search-text {
  padding-top: 35px;
}

.jumbotron-fluid {
  background-image: url("/static/media/jumbotron-img.jpg");
  background-size: cover;
  height: 100%;
}

hr {
  /*Horizontal Style Rule */
  border: 3px solid #2ecc71;

}

h3 {
  color: #FDFDFF;
  padding-top: 0;
}

.btn-outline-success {
  background-color: #2ecc71;
  color: white;
  border-radius: 20px;
}

.category-buttons {
  margin: 50px 50px 80px 0px;
}

.modal-body {
  background-color:#2ecc71;
  display:block;
  padding: 0px;
}

.selection-button{
  padding: 20px 0px;
  border:none;
  border-bottom: 3px solid white;
  border-radius:0;
  background-color:#2ecc71;
  color:white;
}

.sub-heading {
  padding: 20px 0px;
  border-bottom: 2px solid #FED300;
}

.sub-heading {
  color: black;

}


/* register_login Page.html*/
.video-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#video {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  z-index: -1000;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

.video-background {
  position: relative;
  width: 100%;
  height: 100vh;
}

#input-container {
  margin-top: 66px;
  padding-top: 2%;
  margin-bottom: 10px;
}

#input-seperator {
  border-right: 3px solid white;
  margin-top: 20px;
  margin-right: 60px;
}

#input-seperator-bottom {
  border-top: 3px solid white;
}


/* Contact , Add Recipe & Edit Recipe Page Forms */
.field-padding {
  margin-bottom: 20px;

}

.input-group-text {
  background-color: #2ECC71;
  color: white;
}

#btnAdd_1, 
#btnDel_1,
#btnAdd_2,
#btnDel_2{
  margin-bottom: 16px;
}

#recipe_submit-button{
  margin-top: 30px;
}

#add_recipe_card {
  margin-top: 75px;
}

.alert {
  font-size: 30px;
}


/*   search_results.html    */
#search-footer{
  padding:0;
}


/*   recipepage.html    */
#recipe-page-title{
 font-size:40px; 
 padding-top:26px;
}

#recipe-page-image{
  margin:27px 20px 10px 10px;
  max-width:50vw;
  padding:0;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, .5);
}

#recipe-page-list-boxes-first{
  margin-top:27px;
}

.recipe-page-list-boxes{
  background-color:#2ecc71;
  margin:15px 10px 15px 0px;
  padding: 12px 20px;
  top: 4%;
}

ol{
  color:black;
  word-wrap: normal
}

li:empty{
    display:none;
}

#ratings-left{
  text-align:left;
}

#comments-title{
  color:black;
  padding-bottom:20px;
}

#comment{
  color:black;
  border-bottom:3px solid #FED300;
  margin-bottom:30px;
  word-wrap: normal;
}

#comment_title{
  margin-top:20px;
}

.have-your-say-content{
  text-align:left !important;
}

.md-textarea:focus {
  border-color: #FED300 !important;
  box-shadow: inset 0 1px 1px rgba(254, 211, 0, 0.075), 0 0 8px rgba(254, 211, 0, 0.6) !important;
}

/* ########   Media Queries   ######## */

@media (min-width: 342px) {
  .navbar-toggler {
    top: 55px;
    right: 42px;
    position: absolute;
    padding: 2px;
  }  
}

@media (max-width: 576px) {
  .video-background {
    position: relative;
    width: 100%;
    height: 150vh;
  }
  #recipe-page-list-boxes-first{
    margin-top:17px !important;
  }
  .recipe-page-list-boxes{
  padding:20px 5px;
  }
}


@media (max-width:767px) {
  .fixed-top {
    top: -40px;
  }
  .dropdown-padding {
    padding-top: 40px;
  }
    .navbar-toggler {
    top: 55px;
    right: 11px;
    position: absolute;
    padding: 2px;
  }
} 

@media (max-width:992px) {
  #recipe-page-image{
  margin:0;
  min-width:81vw;
}

}

@media (max-width:1025px) {
  .category-buttons {
    margin: 10px 0px;
  }
   .recipe-page-list-boxes{
    top:0;
    margin-bottom:2px;
   }   
}

@media (max-width:1125px) {
  #recipe-page-list-boxes-first{
    margin-top:5px;
  }
}