/* base.html CSS*/
body {
  text-align: center;
  color: #FDFDFF;
  padding:0 !important;
  margin-top: 50px;
  font-family: 'Sniglet', 'Comfortaa', cursive;
  
}

a, a:hover {
  text-decoration: none;
  color:#FDFDFF;
  
}

.nav-link, .card-header{
  padding: 8px 25px !important;
  color: #FDFDFF !important;
  
}


@keyframes link-backgrounds {
  from {color: #FDFDFF;}
  to {color: #FED300;}
}

#search-text{
  padding-top: 35px;
}

h3{
    color:#FDFDFF;
    padding-top: 0;
}

.category-buttons{
  margin:50px 50px 80px 0px;
}
.speech-bubble {
  position: fixed;
  bottom: 6em;
  right: 0.5em;
  background-color: #2ECC71;
  border-radius: .4em;
  box-shadow: -5px -5px 5px grey;
  width: 150px;
  height:78px;
  padding-top:18px;
  padding-left:0px;
  z-index:1000;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 24px solid transparent;
	border-top-color: #2ECC71;
	border-bottom: 0;
	border-right: 0;
	margin-left: -12px;
	margin-bottom: -24px;
}

.username{
  padding:0;
}



/* Register/Login Page CSS*/
.video-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#video {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  z-index: -1000;
}
video { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

.video-background{
  position:relative;
  width:100%;
  height:100vh;
}

#input-container{
  margin-top:66px;
  padding-top:2%;
  margin-bottom:10px;
}

#input-seperator{
  border-right:3px solid white;
  margin-top: 20px;
  margin-right:60px;
}

.input-seperator-bottom{
  border-top:3px solid white;
}

.jumbotron-fluid {
background-image: url("/static/media/jumbotron image.jpg");
background-size: cover;
height: 100%;}

hr{/*Horizontal Style Rule */
    border:3px solid #2ecc71;
    
}

#orTag{ /* The "OR" text in the #orTagLine*/
    background:transparent; 
    color: #FDFDFF;
    font-size:x-large;
}
.sub-heading{
  padding: 20px 0px;
  border-bottom: 2px solid #FED300;
}

.modal-body{
    color:black;
}

.black-tag{
    color:black;
}

.black-tag:hover{
    color:black;
}

.type-list{
  border-bottom: 3px solid #FDFDFF;
  background-image: linear-gradient(to right, #FDFDFF, #fed300);
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition:all .8s ease-in-out;
} 

.type-list:hover{
  background-size: 300% 5px, auto;
}

.btn-outline-success{
  background-color:#2ecc71;
  color:white;
  border-radius:20px;
}

.sub-heading{
    color:black;
    
}
 /* Navbar*/
 
.navbar, .modal-header{
  padding:8px;
  background-color:#2ecc71;
  
} 

#logo{
    max-height:40px;
}

.nav-item{
  border-bottom: 3px solid #FDFDFF;
  background-image: linear-gradient(to right, #FDFDFF, #fed300);
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition:all .3s ease-in-out;
  
}

.navbar-toggler{
  top: 55px;
  right:14px;
  position: absolute;
  padding: 2px;
  
}


.nav-item:hover{
  background-size: 100% 5px, auto;
}

 /* What We Do*/
.card{
  background-color:#2ecc71;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, .5);
  
}

.card-body{
  min-height: 96px;
  background-color:white;
  color:black;
  
}

.clickable-container{
  background-image: linear-gradient(to right, #3436E6, #E83C86);
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition:all .2s ease-in-out;
  padding: 8px 25px !important;
  font-family: 'Sniglet', 'Comfortaa', cursive;
  color: white !important;
}

.clickable-container:hover {
  background-size: 100% 5px, auto;
}

.list-group-item{
  border-bottom: 1px solid #E83C86;
  background-image: linear-gradient(to right, #3436E6, #E83C86);
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition:all .2s ease-in-out;
  color:white;
  
}

.list-group-item:hover{
  background-size: 100% 5px, auto;

}

.contact-form-button{
  margin: 20px 0px;
  
}

.field-padding{
  margin-bottom: 20px;
  
}

 /* Footer*/
#footer-background{
  background-color:#2ecc71;
  margin:0;
  padding-top:12px;
}

 /* The Band Page*/

.our-band-collage{
  padding:56px 40px 0px 40px;
  max-height: 64vh;
  max-width: 1100px;
  
}

.our-band-page-header{
  font-size: 1.75rem;
  padding: 20px 0px;
  border-bottom: 3px solid #E83C86;
  font-family: 'Sniglet', 'Comfortaa', cursive;
  
}

/* Our Music Page*/
.adj-for-scroll{
  margin: 0;
  
}

/* Book Now Page*/
.book-now-form-area{
  padding-top: 56px;
  
}

.radio-inline{
  padding-right: 40px;
  
}

/* Events Page*/
.events-header{
  padding-top: 56px;
  
}

.events-videos{
  margin-top: 30px;
  
}

.events-bottom-borders{
  padding: 20px 0px;
  border-bottom: 3px solid #E83C86;
  
}
@media (max-width:767px) {
  .logo{
    top: 5px;
    left:12px;
    position: absolute;
    max-height: 41px;
    
  }
     .fixed-top{
     top: -40px;
 }
 .dropdown-padding{
  padding-top: 40px;
}
}

@media (max-width: 342px) {
  .navbar-toggler{
    margin-left: inherit;
  
 }
}

#meal_type, #prep_time, #servings, #calories{
        margin-right: 40px;

}

.addandremove{
    margin-top: 0;
    margin-right: 0px;
    
}

#recipe-page-img{
  max-width:100px;
  max-height:auto;
  margin-left:20px;
  margin-top:20px;
  
}

p{
  margin-bottom:0px;
  padding-left:20px;
}

@media (max-width: 576px) { 
  .video-background{
  position:relative;
  width:100%;
  height:150vh;
}
}

@media (min-width: 577px) { 
  .video-background{
  position:relative;
  width:100%;
  height:150vh;
}
}

@media (min-width: 768px) { 
  .video-background{
  position:relative;
  width:100%;
  height:100vh;
}
}
