<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Online Cookbook to Add and View Recipes">
  <meta name="author" content="Declan Byrne">

  <title>RateMyDish</title>
  <link rel="icon" href="https://img.icons8.com/small/16/000000/food.png">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="/static/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa|Sniglet" rel="stylesheet">

</head>


<body class="container-fluid">
    <nav class="navbar navbar-light navbar-expand-md navbar-dark bg-gradient-1 fixed-top">
        <div class="container dropdown-padding">
            <a class="navbar-brand" href="/"><img id="logo" src="/static/media/icons8-food-50.png" alt="RateMyDish Logo"> <b>R</b>ate<b>M</b>y<b>D</b>ish</a>
            <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-content">
                <ul class="navbar-nav ml-auto">
                    {% if username is not none %}
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Login/Register</a>
                    </li>    
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
                    </li>     
                    {% endif %}    
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('add_recipe') }}">Add Recipe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/events.html">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="speech-bubble d-none d-md-block">
        <div>
            {% if username is none %}
                <p class="text-center font-weight-bold username">Hello! <br>{{session['username']}}</p>
            {% else %}
                <p class="text-center font-weight-bold username">Hello! <br> Guest User</p>
            {% endif %}    
        </div>
    </div>    
{% block content %} {% endblock %}
  <footer class="row" id="footer-background">
        <div class="col-sm-6 col-md-3 col-lg-3">
          <a class="social-icon d-none d-md-block" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
          <a class="social-icon d-none d-md-block" href="https://www.snapchat.com/l/en-gb/" target="_blank"><i class="fab fa-snapchat-square fa-2x"></i></a>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
          <a class="social-icon d-none d-md-block" href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube-square fa-2x"></i></a>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
          <a class="social-icon d-none d-md-block" href="https://twitter.com/?lang=en" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>
        </div>
      <a href="https://icons8.com/icon/2470/food">Food icon by Icons8</a>
  </footer>

 <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script type="text/javascript"src="/static/clone-form-td.js"></script>
  <script type="text/javascript"src="/static/form.js"></script>
 


</body>

</html>
