<!DOCTYPE html>
<html lang="en">

<!--This is used in the add_recipe.html & edit-recipe.html as JS files needed to be loaded and are not needed elsewhere  -->

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Online Cookbook to Add and View Recipes For People To Like or Dislike">
  <meta name="author" content="Declan Byrne">

  <title>RateMyDish</title>
  <link rel="icon" href="https://img.icons8.com/small/16/000000/food.png">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa|Sniglet" rel="stylesheet">
  <link href="/static/css/style.css" rel="stylesheet">

</head>


    <header class="container-fluid">
        <nav class="navbar container-fluid navbar-light navbar-expand-md navbar-dark bg-gradient-1 fixed-top">
            <div class="container-fluid dropdown-padding">
                <a class="navbar-brand" href="/"><img id="logo" src="/static/media/icons8-food-100.png" alt="RateMyDish Logo"> <b>R</b>ate<b>M</b>y<b>D</b>ish</a>
                <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbar-content">
                    <ul class="navbar-nav ml-auto">
                        {% if username is not none %}
                        <li class="nav-item">
                            <a class="nav-link active" href="/"><i class="fas fa-key"></i> Login/Register</a>
                        </li>    
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i> Log Out</a>
                        </li>     
                        {% endif %}    
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('add_recipe') }}"><i class="fas fa-plus"></i> Add Recipe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('contact_us') }}"><i class="fas fa-envelope"></i> Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="speech-bubble d-none d-md-block">
            <div>
                {% if username is none %}
                    <p class="text-center font-weight-bold username">Hello! <br>{{session['username']}}</p>
                {% else %}
                    <p class="text-center font-weight-bold username">Hello! <br> Guest User</p>
                {% endif %}    
            </div>
    </header>    
    {% block content %} {% endblock %}
    <footer class="row" id="footer-background">
        <div class="col-sm-6 col-md-3 col-lg-3">
            <a class="social-icon d-none d-md-block" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
            <a class="social-icon d-none d-md-block" href="https://www.snapchat.com/l/en-gb/" target="_blank"><i class="fab fa-snapchat-square fa-2x"></i></a>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
            <a class="social-icon d-none d-md-block" href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube-square fa-2x"></i></a>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
            <a class="social-icon d-none d-md-block" href="https://twitter.com/?lang=en" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>
        </div>
          <a href="https://icons8.com/icon/2470/food" target="_blank">Food icon by Icons8</a>
    </footer>
    
    </body>
    
    <!--No script tags, these are added in the individual html files  -->

</html>
