{% extends 'base.html' %} {% block content %}
    {% with messages = get_flashed_messages() %} 
        {% if messages %} 
            {% for message in messages %}
                <div class=" col-sm-6 alert alert-warning mx-auto" role="alert">
                    {{ message }}
                </div>  
            {% endfor %} 
        {% endif %} 
    {% endwith %}
    <form class="add_recipe_card" method="POST" action="{{ url_for('send_email') }}">
        <main class="card">
            <h1 class="card-header text-center">Contact us</h1>
        
            <div class="card-body">
                <div>
                    <input type="text" id="name" name="name" class="form-control field-padding" placeholder="Name">
                </div>
                <div>
                    <input type="email" id="email" name="email_address" class="form-control field-padding" placeholder="Email">
                </div>
                <div>
                    <textarea id="message" name="message" class="form-control field-padding" rows="5" placeholder="Message"></textarea>
                </div>
        
                <button type="submit" class="btn btn-outline-success col-lg-4" name="button">Send</button>
            </div>
        </main>
    </form>    
    

{% endblock %}