{% extends 'base_add_recipe.html' %} {% block content %}

<form class="add_recipe_card" name="update_recipe_card" class="col-lg-12 mx-auto" action="{{url_for('update_recipe')}}" method="POST">
    
    {% with messages = get_flashed_messages() %} <!--Flash Messages from app.py  --> 
        {% if messages %} 
            {% for message in messages %}
                <p class="alert alert-success col-lg-6 mx-auto" role="alert">{{ message }}</p>
            {% endfor %} 
        {% endif %} 
    {% endwith %}
    
    <main class="card">
        <h1 id="edit-recipe-header" class="card-header">Edit Your Recipe</h1>
            
        <div class="card-body text-left">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group form-top-margin">
                        <label for="meal_title"><i class="fas fa-utensils"></i> Meal Title</label>
                        <input type="text" id="meal_title" name="meal_title" class="form-control" placeholder="Recipe Name" value="{{task.meal_title}}" required>
                    </div>
                </div>
                <div class="col-lg-6">
                        <div class="form-group form-top-margin">
                            <label for="chef_name"><i class="fas fa-signature"></i> Chef's Name</label>
                            <input type="text" id="chef_name" name="chef_name" class="form-control" placeholder="Chef's Name" value="{{session['username']}}" readonly>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="meal_type"><i class="fas fa-utensils"></i> Meal Type</label>
                                <select class="col-md form-control field-padding input-padding" id="meal_type" name="meal_type" required>
                                    <option selected disabled>'Breakfast', 'Lunch' etc.</option>
                                        {% for meal_types in meal_types %}
                                            {% if meal_types.meal_type == task.meal_type %}
                                                <option value="{{meal_types.meal_type}}" selected>{{meal_types.meal_type}}</option>
                                            {% else %}
                                                <option>{{meal_types.meal_type}}</option>
                                            {% endif %}
                                        {% endfor %}
                                </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="cuisine_type"><i class="fas fa-flag-usa"></i> Cuisine Origin</label>
                                <select class="form-control field-padding input-padding" id="cuisine_type" name="cuisine_type" required>
                                    <option selected disabled>'Chinese', 'French', 'Italian' etc.</option>
                                    {% for cuisine_types in cuisine_types %}
                                        {% if cuisine_types.cuisine_types == task.cuisine_type %}
                                            <option value="{{cuisine_types.cuisine_types}}" selected>{{cuisine_types.cuisine_types}}</option>
                                        {% else %}
                                            <option>{{cuisine_types.cuisine_types}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                    
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="difficulty"><i class="fas fa-thermometer-three-quarters"></i> Difficulty</label>
                                <select class="form-control field-padding input-padding" id="difficulty" name="difficulty" required>
                                    <option selected disabled>'Easy', 'Medium', 'Hard'</option>
                                    {% if task.difficulty == 'Easy' %}
                                        <option selected>Easy</option>
                                        <option>Medium</option>
                                        <option>Hard</option>
                                    {% elif task.difficulty == 'Medium' %}    
                                        <option>Easy</option>
                                        <option selected>Medium</option>
                                        <option>Hard</option>
                                    {% elif task.difficulty == 'Hard' %}    
                                        <option>Easy</option>
                                        <option>Medium</option>
                                        <option selected>Hard</option>
                                    {% endif %}    
                                </select>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="prep_time"><i class="fas fa-stopwatch"></i>  Prep. Time</label>
                                <input type="number" id="prep_time" name="prep_time" class="form-control" placeholder="In Minutes" value="{{task.prep_time}}" required>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="cook_time"><i class="fas fa-stopwatch"></i>  Cook Time</label>
                                <input type="number" id="cook_time" name="cook_time" class="form-control" placeholder="In Minutes" value="{{task.cook_time}}" required>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="servings"><i class="fas fa-pizza-slice"></i> Servings</label>
                                <input type="number" id="servings" name="servings" class="form-control" placeholder="Number Only" value="{{task.servings}}" required>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="calories"><i class="fas fa-running"></i> Calories</label>
                                <input type="number" id="calories" name="calories" class="form-control" placeholder="Per Serving" value="{{task.calories}}" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="special_diet"><i class="fas fa-bread-slice"></i> Special Diet</label>
                                <select class="form-control" id="special_diet" name="special_diet" required>
                                    <option selected disabled>'Gluten Free', 'Low Fat' etc.</option>
                                    {% for special_diets in special_diet %}
                                        {% if special_diets.special_diet == task.special_diet %}
                                            <option value="{{special_diets.special_diet}}" selected>{{special_diets.special_diet}}</option>
                                        {% else %}
                                            <option>{{special_diets.special_diet}}</option>
                                            {% endif %}
                                        {% endfor %}
                                </select>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="prep_time"><i class="fas fa-image"></i> Image Address</label>
                                <input type="url" id="image_url" name="image_url" class="form-control" placeholder="Example: 'http://www.myimage.com'  **If you don't have an image leave this blank" value="{{task.image_url}}">
                        </div>
                    </div>
                </div>
                
                 <!--Dynamic Ingredient Fields  
                Remove button will dynamically remove field the last field of the group
                Each field has it's own Individual id/name for exporting cleanly to Mongodb
                Blank fields must be removed before submitting to the database, keeping the database clean from blank key/values-->
                <div class="col-lg-6 d-inline">
                 <div class="row">
                    <div id="entry1" class="clonedInput_2 col-md-6">
                            <label class="ingredients_label" for="input_ingredients">Ingredients & Utensils</label>
                                <input type="text" id="input_ingredients" name="input_ingredients" class="form-control field_ingredients" placeholder="'Tomatoes', 'Potato', 'Pot', 'Pan' etc." value="{{task.input_ingredients}}" required>
                    </div>
                    <div id="entry2" class="col-md-6">
                            <label class="ingredients_label" for="Field2_input_ingredients">Step #2</label>
                                <input type="text" id="Field2_input_ingredients" name="Field2_input_ingredients" class="form-control field_ingredients" placeholder="'Tomatoes', 'Potato', 'Pot', 'Pan' etc." value="{{task.Field2_input_ingredients}}" required>
                    </div>
                    <div id="entry3" class="clonedInput_2 col-md-6">
                            <label class="ingredients_label" for="Field3_input_ingredients">Step #3</label>
                                <input type="text" id="Field3_input_ingredients" name="Field3_input_ingredients" class="form-control field_ingredients" placeholder="'Tomatoes', 'Potato', 'Pot', 'Pan' etc." value="{{task.Field3_input_ingredients}}" required>
                    </div>
                    <div id="entry4" class="clonedInput_2 col-md-6">
                            <label class="ingredients_label" for="Field4_input_ingredients">Step #4</label>
                                <input type="text" id="Field4_input_ingredients" name="Field4_input_ingredients" class="form-control field_ingredients" placeholder="'Tomatoes', 'Potato', 'Pot', 'Pan' etc." value="{{task.Field4_input_ingredients}}" required>
                    </div>
                    <div id="entry5" class="clonedInput_2 col-md-6">
                            <label class="ingredients_label" for="Field5_input_ingredients">Step #5</label>
                                <input type="text" id="Field5_input_ingredients" name="Field5_input_ingredients" class="form-control field_ingredients" placeholder="'Tomatoes', 'Potato', 'Pot', 'Pan' etc." value="{{task.Field5_input_ingredients}}" required>
                    </div>
                    <div id="entry6" class="clonedInput_2 col-md-6">
                            <label class="ingredients_label" for="Field6_input_ingredients">Step #6</label>
                                <input type="text" id="Field6_input_ingredients" name="Field6_input_ingredients" class="form-control field_ingredients" placeholder="'Tomatoes', 'Potato', 'Pot', 'Pan' etc." value="{{task.Field6_input_ingredients}}"required>
                    </div>
                    <div id="entry7" class="clonedInput_2 col-md-6">
                            <label class="ingredients_label" for="Field7_input_ingredients">Step #7</label>
                                <input type="text" id="Field7_input_ingredients" name="Field7_input_ingredients" class="form-control field_ingredients" placeholder="'Tomatoes', 'Potato', 'Pot', 'Pan' etc." value="{{task.Field7_input_ingredients}}" required>
                    </div>
                    <div id="entry8" class="clonedInput_2 col-md-6">
                            <label class="ingredients_label" for="Field8_input_ingredients">Step #8</label>
                                <input type="text" id="Field8_input_ingredients" name="Field8_input_ingredients" class="form-control field_ingredients" placeholder="'Tomatoes', 'Potato', 'Pot', 'Pan' etc." value="{{task.Field8_input_ingredients}}" required>
                    </div>
                    <div id="entry9" class="clonedInput_2 col-md-6">
                            <label class="ingredients_label" for="Field9_input_ingredients">Step #9</label>
                                <input type="text" id="Field9_input_ingredients" name="Field9_input_ingredients" class="form-control field_ingredients" placeholder="'Tomatoes', 'Potato', 'Pot', 'Pan' etc." value="{{task.Field9_input_ingredients}}" required>
                    </div>
                    <div id="entry10" class="clonedInput_2 col-md-6">
                            <label class="ingredients_label" for="Field10_input_ingredients">Step #10</label>
                                <input type="text" id="Field10_input_ingredients" name="Field10_input_ingredients" class="form-control field_ingredients" placeholder="'Tomatoes', 'Potato', 'Pot', 'Pan' etc." value="{{task.Field10_input_ingredients}}" required>
                    </div>
                </div>
                
                <button type="button" id="btnDel_1" name="btnDel" class="btn btn-outline-success col-md-2"><i class="fas fa-minus"></i> Remove Field</button>
                
                <!--Dynamic Instruction Fields  
                Remove button will dynamically remove field the last field of the group
                Each field has it's own Individual id/name for exporting cleanly to Mongodb
                Blank fields must be removed before submitting to the database, keeping the database clean from blank key/values-->
                <div class="row">
                    <div id="instruction1" class="clonedInput_2 col-md-6">
                        <div class="form-group">
                            <label class="instructions_label" for="input_instructions">Instructions</label>
                                <input type="text" id="input_instructions" name="input_instructions" class="form-control field_instructions" placeholder="'In a bowl, add the eggs and flower etc.'" value="{{task.input_instructions}}" required>
                        </div>
                    </div>
                    <div id="instruction2" class="clonedInput_2 col-md-6">
                        <div class="form-group">
                            <label class="instructions_label" for="ID2_input_instructions">Step #2</label>
                                <input type="text" id="ID2_input_instructions" name="ID2_input_instructions" class="form-control field_instructions" placeholder="'In a bowl, add the eggs and flower etc.'" value="{{task.ID2_input_instructions}}" required>
                        </div>
                    </div>
                    <div id="instruction3" class="clonedInput_2 col-md-6">
                        <div class="form-group">
                            <label class="instructions_label" for="ID3_input_instructions">Step #3</label>
                                <input type="text" id="ID3_input_instructions" name="ID3_input_instructions" class="form-control field_instructions" placeholder="'In a bowl, add the eggs and flower etc.'" value="{{task.ID3_input_instructions}}" required>
                        </div>
                    </div>
                    <div id="instruction4" class="clonedInput_2 col-md-6">
                        <div class="form-group">
                            <label class="instructions_label" for="ID4_input_instructions">Step #4</label>
                                <input type="text" id="ID4_input_instructions" name="ID4_input_instructions" class="form-control field_instructions" placeholder="'In a bowl, add the eggs and flower etc.'" value="{{task.ID4_input_instructions}}" required>
                        </div>
                    </div>
                    <div id="instruction5" class="clonedInput_2 col-md-6">
                        <div class="form-group">
                            <label class="instructions_label" for="ID5_input_instructions">Step #5</label>
                                <input type="text" id="ID5_input_instructions" name="ID5_input_instructions" class="form-control field_instructions" placeholder="'In a bowl, add the eggs and flower etc.'" value="{{task.ID5_input_instructions}}" required>
                        </div>
                    </div>
                    <div id="instruction6" class="clonedInput_2 col-md-6">
                        <div class="form-group">
                            <label class="instructions_label" for="ID6_input_instructions">Step #6</label>
                                <input type="text" id="ID6_input_instructions" name="ID6_input_instructions" class="form-control field_instructions" placeholder="'In a bowl, add the eggs and flower etc.'" value="{{task.ID6_input_instructions}}" required>
                        </div>
                    </div>
                    <div id="instruction7" class="clonedInput_2 col-md-6">
                        <div class="form-group">
                            <label class="instructions_label" for="ID7_input_instructions">Step #7</label>
                                <input type="text" id="ID7_input_instructions" name="ID7_input_instructions" class="form-control field_instructions" placeholder="'In a bowl, add the eggs and flower etc.'" value="{{task.ID7_input_instructions}}" required>
                        </div>
                    </div>
                    <div id="instruction8" class="clonedInput_2 col-md-6">
                        <div class="form-group">
                            <label class="instructions_label" for="ID8_input_instructions">Step #8</label>
                                <input type="text" id="ID8_input_instructions" name="ID8_input_instructions" class="form-control field_instructions" placeholder="'In a bowl, add the eggs and flower etc.'" value="{{task.ID8_input_instructions}}" required>
                        </div>
                    </div>
                    <div id="instruction9" class="clonedInput_2 col-md-6">
                        <div class="form-group">
                            <label class="instructions_label" for="ID9_input_instructions">Step #9</label>
                                <input type="text" id="ID9_input_instructions" name="ID9_input_instructions" class="form-control field_instructions" placeholder="'In a bowl, add the eggs and flower etc.'" value="{{task.ID9_input_instructions}}" required>
                        </div>
                    </div>
                    <div id="instruction10" class="clonedInput_2 col-md-6">
                        <div class="form-group">
                            <label class="instructions_label" for="ID10_input_instructions">Step #10</label>
                                <input type="text" id="ID10_input_instructions" name="ID10_input_instructions" class="form-control field_instructions" placeholder="'In a bowl, add the eggs and flower etc.'" value="{{task.ID10_input_instructions}}" required>
                        </div>
                    </div>
            </div>
                        <button type="button" id="btnDel_2" name="btnDel_2" class="btn btn-outline-success col-md-2"><i class="fas fa-minus"></i> Remove Field</button>
                
                
                <div class="d-none">
                    <input type="number" id="likes" name="likes" class="form-control">
                    <input type="number" id="dislikes" name="dislikes" class="form-control">
                    <textarea id="comments" name="comments" class="form-control"></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" id='recipe_update-button' name="recipe_update-button" value="{{task._id}}"class="btn btn-outline-success col-lg-4"><i class="fas fa-hamburger"></i>  Update Recipe</button>
                </div>
        </div>
    </div>
</main>    
</form>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/static/js/edit-field-remove.js"></script> <!-- Js for the remove button / fields -->
    
{% endblock %}

