{% extends 'base.html' %} {% block content %}

        <div class="jumbotron-fluid">
            <h3 class="search-text">Search</h3>
            <br>
            <div class="form-group col-8 mx-auto">
                <form method="POST" action="{{ url_for('search') }}">
                    <input type="text" class="form-control " id="search" name="search" placeholder='"Lasagne","Cheese Pizza" or an Ingredient etc.'>
                    <br>
                    <button type="submit" class="btn btn-outline-success col-lg-4"><i class="fas fa-search"></i> Search</button>
                </form>
            </div>   
            <hr>
            <br>
            <form>
                <h3>Browse By Category</h3>
                <button type="button" class="btn btn-outline-success col-6 col-lg-2 category-buttons" data-toggle="modal" data-target="#meal-type-category"><i class="fas fa-utensils"></i> Meal Type</button>
                <button type="button" class="btn btn-outline-success col-6 col-lg-2 category-buttons" data-toggle="modal" data-target="#cuisine-type-category"><i class="fas fa-flag-usa"></i> Cuisine Origin</button>
                <button type="button" class="btn btn-outline-success col-6 col-lg-2 category-buttons" data-toggle="modal" data-target="#special-diet-type-category"><i class="fas fa-bread-slice"></i> Special Diet</button>
                <button type="button" class="btn btn-outline-success col-6 col-lg-2 category-buttons" data-toggle="modal" data-target="#difficulty-type-category"><i class="fas fa-thermometer-three-quarters"></i> Difficulty</button>

            </form>
            <!-- Modal -->
            <div class="modal fade" id="meal-type-category" tabindex="-1" role="dialog" aria-labelledby="meal-type-category" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Meal Type</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="{{ url_for('category_results') }}">
                                {% for meal_type in meal_type_category[0:3] %}
                                    <div class="selection-items">
                                        <button type="submit" class="btn btn-outline-success selection-button col-sm-12" name="type_category_button" value="{{meal_type[0:20]}}">{{meal_type[0:20]}}</button>   
                                    </div>  
                                {%endfor%} 
                            </form>                         
                        </div>
                    </div>
                </div>
            </div>
                      <!-- Modal -->
            <div class="modal fade" id="cuisine-type-category" tabindex="-1" role="dialog" aria-labelledby="cuisine-type-category" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Cuisine Type</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                         <form method="POST" action="{{ url_for('category_results') }}">    
                            {% for cuisine_type in cuisine_type_category[0:3] %}
                                <div class="selection-items">
                                    <button type="submit" class="btn btn-outline-success selection-button col-sm-12" name="type_category_button" value="{{cuisine_type[0:20]}}">{{cuisine_type[0:20]}}</button>   
                                </div> 
                            {%endfor%}
                        </form>    
                        </div>
                    </div>
                </div>
            </div>
                        <!-- Modal -->
            <div class="modal fade" id="special-diet-type-category" tabindex="-1" role="dialog" aria-labelledby="special-diet-type-category" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Special Diet</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        <form method="POST" action="{{ url_for('category_results') }}">     
                            {% for special_diet in special_diet_type_category[0:3] %}
                                <div class="selection-items">
                                    <button type="submit" class="btn btn-outline-success selection-button col-sm-12" name="type_category_button" value="{{special_diet[0:20]}}">{{special_diet[0:20]}}</button>   
                                </div> 
                            {%endfor%} 
                        </form>
                        </div>
                    </div>
                </div>
            </div>
                        <!-- Modal -->
            <div class="modal fade" id="difficulty-type-category" tabindex="-1" role="dialog" aria-labelledby="difficulty-type-category" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Difficulty</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        <form method="POST" action="{{ url_for('category_results') }}">     
                            <div class="selection-items">
                                <button type="submit" class="btn btn-outline-success selection-button col-sm-12" name="type_category_button" value="Easy">Easy</button>   
                            </div>
                            <div class="selection-items">
                                <button type="submit" class="btn btn-outline-success selection-button col-sm-12" name="type_category_button" value="Medium">Medium</button>   
                            </div> 
                            <div class="selection-items">
                                <button type="submit" class="btn btn-outline-success selection-button col-sm-12" name="type_category_button" value="Hard">Hard</button>   
                            </div> 
                        </form>    
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="container">
        <h3 class="col-xs-6 mx-auto text-center sub-heading">Most Liked</h3>
    </div>
    <div class="container">
        <div class="row">
    {% for meal_type in most_liked[0:4]|sort(attribute='likes') %}
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-80 text-center text-white bg-gradient-1">
            <img class="card-img-top" src={{meal_type.image_url}} alt="Card image cap">
            <h4 class="card-header text-capitalize">{{meal_type.meal_title}}</h4>
            <div class="card-body">
                <p class="card-text"><b>Created By:</b>    {{meal_type.chef_name}}<br><b>Preparation Time:</b>    {{meal_type.prep_time}}<br><b>Cooking Time:</b>    {{meal_type.cook_time}}<br><b>Serves:</b>    {{meal_type.servings}}</p>
            </div>
                <form method="POST" action="{{ url_for('view_recipe', search=meal_type._id) }}">
                  <button type="submit" class="btn btn-outline-success card-footer" name="get_recipe" value="{{meal_type._id}}"><i class="fas fa-arrow-right"></i> Go To Recipe</button>
                </form>
        </div>
    </div>
{% endfor %}
</div>
</div>
<div class="container">
        <h3 class="col-xs-12 mx-auto text-center sub-heading">Our Favourites</h3>
    </div>
    <div class="container">
        <div class="row">
{% for meal_type in favourites[0:4]|sort(attribute='dislikes') %}
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-80 text-center text-white bg-gradient-1">
            <img class="card-img-top" src={{meal_type.image_url}} alt="Card image cap">
            <h4 class="card-header text-capitalize">{{meal_type.meal_title}}</h4>
            <div class="card-body">
                <p class="card-text"><b>Created By:</b>    {{meal_type.chef_name}}<br><b>Preparation Time:</b>    {{meal_type.prep_time}}<br><b>Cooking Time:</b>    {{meal_type.cook_time}}<br><b>Serves:</b>    {{meal_type.servings}}</p>
            </div>
                <form method="POST" action="{{ url_for('view_recipe', search=meal_type._id) }}">
                   <button type="submit" class="btn btn-outline-success card-footer" name="get_recipe" value="{{meal_type._id}}"><i class="fas fa-arrow-right"></i> Go To Recipe</button>
                </form>
        </div>
    </div>

{% endfor %}
</div>
</div>
{% endblock %}